@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ccfbf1;
}


.button {
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 24px;
  color: #374151; /* gray-700 */
  background-color: #f3f4f6; /* gray-100 */
  overflow: hidden;
  border-radius: 9999px;
}

.button_lg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #f3f4f6;
}

.button_lg::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #f3f4f6;
  transition: all 0.2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #22c55e; /* green-500 */
  transform: skew(-15deg);
  transition: all 0.4s ease;
  z-index: 0;
}

.button_text {
  position: relative;
  z-index: 10;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
  background-color: #10b981; /* emerald-500 */
  box-shadow: 0 0 8px #10b981, 0 0 16px #10b981;
}

.button:hover .button_lg::after {
  background-color: white;
}
